.App {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.download-all {
  font-size: 50px;
}

.frame-radio-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
